{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="hero-member-image">
        <div class="hero-contents">
            <h1 class="display-2">Memberships</h1>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <h3 class="membership-title" id="fitness-landing">Fitness, Nutrition and Mental Strength</h3>
        </div>
        <hr>
    </div>
    <div class="row">
        {% for membership in memberships %}
        <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="card">
                {% if membership.image %}
                <a href="{% url 'membership_detail' membership.id %}">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}{{ membership.image }}"
                        alt="{{ membership.name }}">
                </a>
                {% else %}
                <a href="{% url 'membership_detail' membership.id %}">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.jpg" alt="{{ membership.name }}">
                </a>
                {% endif %}
                <div class="card-body text-center">
                    <p>{{ membership.name }}</p>
                </div>
                {% if request.user.is_superuser %}
                <small class="ml-3">
                    <a href="{% url 'edit_membership' membership.id %}">Edit</a>
                    <a class="text-danger" href="{% url 'delete_membership' membership.id %}">Delete</a>
                </small>
                {% endif %}
            </div>
        </div>
        <div class="col-12 d-sm-none"></div>
        {% if forloop.counter|divisibleby:2 %}
        <div class="col-12 d-none d-sm-block d-md-block d-lg-none"></div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}