{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Shopping bag</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if bag_items %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Membership Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col"></th>
                          </tr>
                    </thead>

                    {% for membership in bag_items %}
                        <tr>
                            <td class="p-3 w-25">
                                <img class="img-fluid" src="{{ MEDIA_URL }}{{ membership.membership.image }}">
                            </td>
                            <td class="py-3">
                                <p>{{ membership.membership.name }}</p>
                                <p class="small text-muted">{{ membership.membership.membership_id }}</p>
                            </td>
                            <td class="py-3">
                                <p>£{{ membership.membership.price }}</p>
                            </td>
                            <td class="py-3">
                                <form class="form remove-form" method="POST" action="{% url 'remove_from_bag' membership.membership_id %}">
                                    {% csrf_token %}
                                    <input type="hidden" class="form-control qty_input id_qty_{{ membership.id }}" type="number" name="quantity" value="1" data-membership_id="{{ membership.id }}">
                                </form>
                                <a class="remove-item text-danger float-right" id="remove_{{ membership.membership_id }}" data-membership_id="{ {membership.membership_id }}"><small>Remove Item</small></a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>
                            <h4>Grand Total: £{{ grand_total|floatformat:2 }}</h4>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">
                            <a href="{% url 'memberships' %}" class="btn btn-dark">
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <a href="" class="btn btn-outline-dark">
                                <span class="text-uppercase">Secure Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
                {% else %}
                <p>Your bag is empty</p>
                <a href="{% url 'memberships' %}" class="btn btn-dark">Keep Shopping</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var membershipId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${membershipId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}