{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Shopping bag</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if bag_items %}
            <div class="table-responsive">
                {% else %}
                <p>Your bag is empty</p>
                <a href="{% url 'memberships' %}" class="btn btn-dark">Keep Shopping</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}