{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Thank You</h2>
            <p>Your order information is below.</p>
            <hr>
        </div>
        </div>
        <hr>
    </div>
    <div class="row">
    <div class="col-12 col-lg-7">

    </div>
</div>

{% endblock %}
