<div class="collapse navbar-collapse" id="main-nav">
<ul class="nav w-auto mx-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle subs-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Subscriptions</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Fitness</a>
        <a class="dropdown-item" href="#">Nutrition</a>
        <a class="dropdown-item" href="#">Fitness & Nutrition</a>
      </div>
    </li>
  </ul>
</div>