.hero-member-image {
    background-image: url('/media/fitness-man.jpg');
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}