<div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="false">
    <div class="toast-header bg-success text-white">
      <strong class="mr-auto">Success!</strong>
      <button type="button" class="btn-close" data-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      {{ message }}
    </div>
  </div>
</div>

<!--
<div class="toast" role="alert" aria-live="polite" style="position: absolute; top: 0; right: 0;" data-autohide="false">
    <div class="toast-header bg-success text-white">
      <strong class="me-auto">Success!</strong>
      <button type="button" class="close" data-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      {{ message }}
    </div>
  </div> -->